// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700|Geologica:700,800|Khula:400&display=swap'); // Ensure Khula Regular is included

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Geologica", "Helvetica", "sans-serif"; // Updated for headers
$paragraph-font: "Khula", "Helvetica", "sans-serif"; // Define for paragraphs

// Define default text color
$default-text-color: #000000; // Black

// Apply styles for body, headers, and paragraphs
body {
  font-family: $body-font; // Use the body font
  color: $default-text-color; // Set default text color
}

h1 {
  font-family: $headers-font; // Use the headers font
  font-weight: 800; // Extra Bold
  font-size: 48px; // H1 size
}

h2 {
  font-family: $headers-font; // Use the headers font
  font-weight: 700; // Bold
  font-size: 32px; // H2 size
}

p {
  font-family: $paragraph-font; // Use the Khula font
  font-weight: 400; // Regular weight
  font-size: 16px; // Paragraph size
}
