<div class="bar-sort-projects">
    <button data-action="click->sort#sortByName" class="btn">
      <i class="fas fa-sort"></i>
      <span>Name</span>
    </button>

    <button data-action="click->sort#sortByLocation" class="btn">
      <i class="fas fa-sort"></i>
      <span>Location</span>
    </button>

    <button data-action="click->sort#sortByGoal" class="btn">
      <i class="fas fa-sort"></i>
      <span>Project Goal</span>
    </button>
  </div>
