<div class="charity-project-info">
  <h5>
      <%= link_to charity_project.name, charity_project_path(charity_project), class: "project-name-link" %>
  </h5>
  <p><%= charity_project.location %></p>
</div>
