<div class="nav-show">
  <%= link_to "#aim" do %>
    <span>Aim</span>
  <% end %>
  <div class="nav-line"></div>
  <%= link_to "#data" do %>
    <span>Data</span>
  <% end %>
  <div class="nav-line"></div>
  <%= link_to "#reporting" do %>
    <span>Reporting</span>
  <% end %>
  <div class="nav-line"></div>
  <%= link_to "#forum" do %>
    <span>Forum</span>
  <% end %>
</div>
