<div class="card-basic card-photos">
  <% if @charity_project.photos.attached? %>
    <% if @charity_project.photos.length > 1 %>
      <%= render "photos_carousel", carousel_id: "show", object: @charity_project %>
    <% else %>
      <%= cl_image_tag @charity_project.photos.first.key, crop: :fill, class: "banner-square" %>
    <% end %>
  <% else %>
    <p>No photos available for this Project.</p>
  <% end %>
</div>
