<%# Banner with charity description %>
<div class="banner-charities">
  <div class="banner-heading">
    <% if params[:query].present? %>
      <h2>Search results for "<%= params[:query] %>"</H2>
      <%= link_to 'Clear Search', request.path, method: :get, class: 'clear-search' %>
    <% else %>
      <h1>Active Projects</h1>
    </div>
  <div class="banner-intro">
    <p>Discover impactful projects across various causes and choose one to support.</p>
  </div>
</div>
    <% end %>
  </div>
  <div class="banner-intro">
  </div>
</div>

<%# List %>
<div class="content">
  <div>
    <div id="projects-sect" class="our-projects">
      <% @charity_projects.each do |project| %>
        <%= render partial: '/charities/project_card2', locals: { project: project } %>
      <% end %>
    </div>
  </div>
</div>
