<div class="category-card">
  <div class="icon">
    <% if title == "Hunger" %>
      <i class="fa-solid fa-wheat-awn"></i> <!-- Icon for Hunger -->
    <% elsif title == "Climate Change" %>
      <i class="fa-solid fa-tree"></i> <!-- Icon for Climate Change -->
    <% elsif title == "Disaster Relief" %>
      <i class="fa-solid fa-tornado"></i> <!-- Icon for Disaster Relief -->
    <% elsif title == "Education" %>
      <i class="fa-solid fa-book"></i> <!-- Icon for Education -->
    <% elsif title == "Health" %>
      <i class="fa-solid fa-notes-medical"></i> <!-- Icon for Health -->
    <% elsif title == "Water & Sanitation" %>
      <i class="fa-solid fa-droplet"></i> <!-- Icon for Water & Sanitation -->
    <% end %>
  </div>
  <div class="title"><%= title %></div>
</div>
