<div class="category-card">
  <div class="icon">
    <% if title == "Famine" %>
      <i class="fa-solid fa-wheat-awn"></i> <!-- Icon for Famine -->
    <% elsif title == "Climate Change" %>
      <i class="fa-solid fa-tree"></i> <!-- Icon for Climate Change -->
    <% elsif title == "Natural Disasters" %>
      <i class="fa-solid fa-tornado"></i> <!-- Icon for Natural Disasters -->
    <% elsif title == "Education" %>
      <i class="fa-solid fa-book"></i> <!-- Icon for Education -->
    <% elsif title == "Health" %>
      <i class="fa-solid fa-notes-medical"></i> <!-- Icon for Health -->
    <% elsif title == "Basic Needs" %>
      <i class="fa-solid fa-droplet"></i> <!-- Icon for Basic Needs -->
    <% end %>
  </div>
  <div class="title"><%= title %></div>
</div>
