<footer class="footer">
  <div class="footer-top">
    <div class="footer-column">
      <h3>Donate</h3>
      <ul>
        <li><a href="#categories">Charity Categories</a></li>
        <%# <li><a href="#">Social Impact Funds</a></li> %>
        <%# <li><a href="#">Supporter Space</a></li> %>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Fundraise</h3>
      <ul>
        <li><a href="mailto: signup@charity-nest.com?subject=Sign%20up%20as%20a%20charity">Sign up as a charity</a></li>
        <%# <li><a href="#">Team CharityNest</a></li> %>
        <%# <li><a href="#">Charity Blog</a></li> %>
      </ul>
    </div>
    <div class="footer-column">
      <h3>About</h3>
      <ul>
        <li><a href="<%= about_path %>">How CharityNest works</a></li>
        <%# <li><a href="#">Help Center</a></li> %>
        <%# <li><a href="#">Newsroom</a></li> %>
        <%# <li><a href="#">Careers</a></li> %>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom-left">
      <p>© 2024-2025 CharityNest</p>
    </div>
  </div>
</footer>
