<div class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">Support Change, Empower Communities</h1>
    <p class="hero-description">Make a meaningful impact with your support</p>
    <button class="button" onclick="window.location.href='#categories'">Get Started Today</button>
  </div>
</div>

<section class="categories" id="categories">
  <h2>Categories</h2>
  <div class="category-cards">
    <% @categories.each do |category| %>
      <%= link_to category_charities_path(category), class: 'no-underline-link' do %>
        <%= render 'shared/category_card', title: category.name %>
      <% end %>
    <% end %>
  </div>
</section>


<%= render 'shared/footer' %> <!-- Render the footer section -->
