<div class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">Support Change, Empower Communities</h1>
    <p class="hero-description">Make a meaningful impact with your support</p>
    <button class="button" onclick="window.location.href='#categories'">Get Started Today</button>
  </div>
</div>

<section class="categories" id="categories">
  <h2>Categories</h2>
<div id="chat-box">
  <div id="messages"></div>
  <input type="text" id="chat-input" placeholder="Type a message..." />
  <button id="send-message">Send</button>
</div>

  <div class="category-cards">
    <% @categories.each do |category| %>
      <%= link_to category_charities_path(category), class: 'no-underline-link' do %>
        <%= render 'shared/category_card', title: category.name %>
      <% end %>
    <% end %>
  </div>
</section>


<%= render 'shared/footer' %> <!-- Render the footer section -->

<script>
  document.getElementById('send-message').addEventListener('click', function() {
    let message = document.getElementById('chat-input').value;
    if (message) {
      let messagesDiv = document.getElementById('messages');
      messagesDiv.innerHTML += `<div>User: ${message}</div>`;
      document.getElementById('chat-input').value = '';

      fetch('/chat', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ message: message }),
      })
        .then(response => response.json())
        .then(data => {
          messagesDiv.innerHTML += `<div>AI: ${data.response}</div>`;
        })
        .catch(error => console.error('Error:', error));
    }
  });
</script>
