<div class="container p-4" style="text-align: left;">
    <style>
        .container {
            text-align: left;
        }

        .container h1,
        .container h2,
        .container p,
        .container ul,
        .container li,
        .container address {
            margin-left: 0;
            padding-left: 0;
            text-align: left;
        }

        .container ul {
            padding-left: 20px; /* Add padding for better list alignment */
        }
    </style>

    <section id="legal-notice">
        <h1 class="pt-4 pb-4">Legal Notice / Impressum</h1>

        <h2>English Version:</h2>
        <p><strong>David Dicke, Mohamed Elgazzar, Pablo Guelfi</strong><br>
        Charity Nest<br>
        Nostitzstr. 38<br>
        10961 Berlin</p>

        <h3>Contact</h3>
        <p>Telephone: (+49) 015738510048<br>
        Email: <a href="mailto:support@charity-nest.com">support@charity-nest.com</a></p>

        <p><strong>Design & Programming:</strong> David Dicke, Mohamed Elgazzar, Pablo Guelfi<br>

        <h3>EU Dispute Resolution</h3>
        <p>The European Commission provides a platform for online dispute resolution (ODR): <a href="https://ec.europa.eu/consumers/odr/" target="_blank">https://ec.europa.eu/consumers/odr/</a>.<br>
        You can find our email address above in the Legal Notice.</p>

        <h3>Consumer Dispute Resolution / Universal Arbitration Board</h3>
        <p>We are not obliged to participate in dispute resolution proceedings before a consumer arbitration board.</p>

        <hr>

        <h2>Deutsche Version:</h2>
        <p><strong>David Dicke, Mohamed Elgazzar, Pablo Guelfi</strong><br>
        Charity Nest<br>
        Nostitzstr. 38<br>
        10961 Berlin</p>

        <h3>Kontakt</h3>
        <p>Telefon: (+49) 015738510048<br>
        E-Mail: <a href="mailto:support@charity-nest.com">support@charity-nest.com</a></p>

        <h3>EU-Streitschlichtung</h3>
        <p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank">https://ec.europa.eu/consumers/odr/</a>.<br>
        Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

        <h3>Verbraucherstreitbeilegung/Universalschlichtungsstelle</h3>
        <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    </section>
</div>
