<div class="bar-sort">
  <button class="btn">
    <%# # Fontawesome sort icon %>
    <i class="fas fa-sort"></i>
    <span>Evaluation Score</span>
  </button>
  <button class="btn">
    <%# # Fontawesome sort icon %>
    <i class="fas fa-sort"></i>
    <span>Engagement</span>
  </button>
</div>
