.banner-charities {
  background-color: white;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.banner-intro {
 grid-column: span 1;
 align-self: end;
 p {
    margin: 0;
 }
}
.banner-heading {
  grid-column: span 1;
  align-self: end;
  h1 {
    margin: 0;
  }
 }
