.banner-charities {
  background-color: white;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 700px));
  justify-content: center;
  gap: 1rem;
}
.banner-intro {
 grid-column: span 1;
 align-self: end;
 p {
    margin: 0;
 }
}
.banner-heading {
  grid-column: span 1;
  align-self: end;
  h1 {
    margin: 0;
  }
 }
