.carousel-inner {
  padding: 1.5rem;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(70%);
}

.carousel-control-circle, .carousel-control-circle {
  background-color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $default-box-shadow;
}
.carousel-control-prev, .carousel-control-next {
  width: 3rem!important;
  opacity: 1;
}
.carousel-indicators {
  margin-bottom: -1rem;

  [data-bs-target] {
  height: 0.5rem;
  width: 0.5rem;
  background-color: $ocean-turquoise;
  border-radius: 50%;
  }
}
