/* BANNER SECTION */
.banner {
  width: 100%;
  height: 27rem;
  overflow: hidden;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 25%;
}

/* GENERAL CONTENT STYLING */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: $coral-white;
}

.section {
  max-width: 65rem;
  width: 100%;
}

.content h1 {
  margin: 5rem 0;
  padding: 0 3rem;
}

.content h2 {
  margin: 5rem 0 1rem;
  padding: 0 3rem;
}

/* WAYS TO GIVE SECTION */
.ways-to-give {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Space items evenly */
  margin: 2rem 0;
  padding: 2rem;
  box-sizing: border-box; /* Include padding in width calculation */
}

.give-option {
  flex: 1; /* Each option takes equal space */
  max-width: calc(33.33% - 1rem); /* Ensure space between options is accounted for */
  margin: 0 0.5rem; /* Adjust this as needed */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box; /* Include padding and border in total width */
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.give-option h4 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), black);
  color: white;
  margin: 0;
  padding: 1.5rem 1.5rem;
  flex: 0;
}

.give-photo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* OUR PROJECTS SECTION */
.our-projects {
  margin: 2rem 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 70rem; /* Max width of the project card */
}


/* Add media query for smaller screens */
@media (max-width: 768px) {
  .ways-to-give {
    flex-direction: column; /* Stack vertically */
    align-items: center; /* Center align items */
  }

  .give-option {
    max-width: 100%; /* Full width for each option */
    margin: 1rem 0; /* Add margin for spacing */
  }
}

@media (max-width: 768px) {
  .banner {
    height: 15rem; /* Adjust height for smaller screens */
  }
}
