/* BANNER SECTION */
.banner {
  width: 100%;
  height: 34rem;
  overflow: hidden;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 25%;
}

/* MAIN HEADER STYLING */
.main-header {
  position: relative; /* Part of the document flow */
  margin-top: -5rem; /* Overlaps the banner */
  background-color: $coral-white; /* Coral-white background */
  color: black; /* Text color */
  padding: 2rem 3rem 3rem;
  border-radius: 10px; /* Rounded edges */
  text-align: center; /* Centers the text */
  z-index: 1; /* Ensures it sits above the banner */
  width: fit-content; /* Prevents stretching */
  margin-left: auto; /* Centers horizontally */
  margin-right: auto; /* Centers horizontally */
}

/* GENERAL CONTENT STYLING */
.content {
  margin-top: 2rem; /* Adds space below the main header */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: $coral-white; /* Coral-white */
}

.section {
  max-width: 65rem;
  width: 100%;
  padding: 0 5rem;
}

.content h1 {
  margin: 5rem 0;
  padding: 0 3rem;
}

.content h2 {
  margin: 5rem 0 1rem;
  padding: 0 3rem;
}

/* WAYS TO GIVE SECTION */
.ways-to-give {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Space items evenly */
  margin: 2rem 0;
  padding: 2rem;
  box-sizing: border-box; /* Include padding in width calculation */
}

.give-option {
  flex: 1; /* Each option takes equal space */
  max-width: calc(33.33% - 1rem); /* Ensure space between options is accounted for */
  margin: 0 0.7rem; /* Adjust this as needed */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box; /* Include padding and border in total width */
  box-shadow: 0 4px 6px rgba(0.1, 0.1, 0.1, 0.1);
}

.give-option h4 {
  // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), black);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), gray);
  color: white;
  margin: 0;
  padding: 1.5rem 1.5rem;
  flex: 0;
}

.give-photo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* OUR PROJECTS SECTION */
.two-columns {
  margin-left: 1rem;
  margin-right: 1rem;
}

.our-projects {
  display: flex;
  flex-direction: column;
  max-width: 70rem; /* Max width of the project card */
}

.our-projects2 {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 70rem; /* Max width of the project card */
}

/* CUSTOM STYLES */
.custom-checkbox {
  width: 1rem;
  height: 1rem;
  border-width: 2px;
  border-radius: .25rem;
  background-color: #f8f9fa;
  border-color: #6c757d;
  margin-right: 0.5rem;
  margin-top: -0.3rem;
}

.custom-close {
  font-size: 2rem; /* Larger close button */
  color: $ocean-turquoise; /* Danger color for the button */
  border: none; /* Remove default border */
  background: none; /* No background */
}

.custom-close:hover {
  color: $forest-green; /* Success color on hover */
  cursor: pointer; /* Change cursor to pointer */
}

.custom-close:focus {
  outline: none; /* Remove focus outline */
}


.category-card-charity {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 19rem; // Adjust as needed for layout
  height: 19rem; // Ensure it’s a square
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .icon {
    font-size: 8rem;
    text-align: center;
    width: 10rem;
    height: 10rem;
    color: #0B666A1A; /* 10% opacity */
    -webkit-text-stroke: 2px #0B666A;
    margin-bottom: 1rem;
  }

  .title {
    font-family: $headers-font;
    font-weight: 200;
    font-size: 1.5rem;
    color: #0B666A;
    text-align: center;
  }

  &:hover {
    background-color: #0B666A0D; /* 5% opacity */
  }
}


@media (max-width: 64rem) {
  /* BANNER SECTION */
  .banner {
    height: 20rem; /* Reduce banner height on smaller screens */
  }

  .banner img {
    object-position: 50% 50%; /* Center image vertically for better visibility */
  }

  /* MAIN HEADER STYLING */
  .main-header {
    width: 80%; /* Slightly smaller font size */
  }

  .main-header h1 {
    font-size: 1.5rem; /* Slightly smaller font size */
  }

  /* GENERAL CONTENT STYLING */
  .content {
    margin-top: 1rem; /* Reduce top margin */
    padding: 0 2rem; /* Add padding for better spacing */
  }

  .section {
    padding: 0 2rem; /* Adjust padding for smaller screens */
  }

  /* WAYS TO GIVE SECTION */
  .ways-to-give {
    flex-direction: column; /* Stack options vertically */
    padding: 1.5rem; /* Reduce padding */
  }

  .give-option {
    max-width: 100%; /* Full width on smaller screens */
    margin: 1rem 0; /* Adjust margins */
    flex: 1 1 45%; /* Make the give options smaller */
    margin-bottom: 1.5rem; /* More space between options */
  }

  .give-option h4 {
    padding: 1rem; /* Reduce padding for a more compact header */
    font-size: 1.1rem; /* Smaller font size */
  }

  .give-photo {
    padding: 1rem; /* Reduce padding inside photo container */
  }

  .map-container-project-show {
    flex: none;
    height: 35vh;
    order: 1; /* Ensure the map is on top */
    position: relative; /* Contain the map */
    z-index: 1; /* Lower z-index to prevent overlapping cards */
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
  }
}
