/* BANNER SECTION */
.banner {
  width: 100%;
  height: 27rem;
  overflow: hidden;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 25%;
}

/* GENERAL CONTENT STYLING */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.section {
  max-width: 65rem;
  width: 100%;
}

.content h1 {
  margin: 5rem 0;
  padding: 0 3rem;
}

.content h2 {
  margin: 5rem 0 1rem;
  padding: 0 3rem;
}

/* WAYS TO GIVE SECTION */
.ways-to-give {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Space items evenly */
  margin: 2rem 0;
  padding: 2rem;
  box-sizing: border-box; /* Include padding in width calculation */
}

.give-option {
  flex: 1; /* Each option takes equal space */
  max-width: calc(33.33% - 1rem); /* Ensure space between options is accounted for */
  background-color: #f0f0f0;
  margin: 0 0.5rem; /* Adjust this as needed */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box; /* Include padding and border in total width */
}

.give-option h4 {
  background-color: $dark-ocean-blue;
  color: white;
  margin: 0;
  padding: 1.5rem 1.5rem;
  flex: 0;
}

.give-photo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* OUR PROJECTS SECTION */
.our-projects {
  display: flex;
  flex-direction: column;
  max-width: 65rem; /* Max width of the project card */
}

.project-card {
  flex: 1; /* Allow the project card to grow and fill the available width */
  width: 100%; /* Full width of the container */
  height: auto; /* Adjust height based on content */
  background-color: $coral-white; /* Background color for visibility */
  margin: 1rem 0; /* Vertical margin for spacing between cards */
  border-radius: 10px; /* Optional: rounded corners */
  display: flex; /* Use flexbox for inner alignment */
  align-items: center; /* Center content vertically */
  padding: 3rem; /* Optional: add padding inside the card */
  border: 1px solid $dark-ocean-blue; /* Add border */
}
