.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1030;
}

.banner-charities {
  position: sticky;
  top: 3.5rem; /* Keeps the banner at the very top of the viewport */
  z-index: 1040; /* Ensure it appears above other elements but below modals */
}

.bar-sort-projects {
  position: sticky;
  top: 12rem;  /* Sticks the sorting bar at the top of the viewport when you scroll */
  z-index: 10;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;  /* Space between content and map */
  padding: 0 2rem;
  min-height: 100vh; /* Add padding to the left and right */
}

.content {
  flex: 1;  /* Takes up remaining space */
}
