.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1030;
}

.banner-charities {
  position: sticky;
  top: 3.5rem; /* Keeps the banner at the very top of the viewport */
  z-index: 1040; /* Ensure it appears above other elements but below modals */
}

.bar-sort-projects {
  position: sticky;
  top: 12rem;  /* Sticks the sorting bar at the top of the viewport when you scroll */
  z-index: 10;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;  /* Space between content and map */
  padding: 0 2rem;
  min-height: 100vh; /* Add padding to the left and right */
}

.content {
  flex: 1;  /* Takes up remaining space */
}

.map-container {
  position: sticky;
  border-radius: 10px;
  top:  13.3rem;  /* Adjust this based on your banner height */
  height: 38rem;  /* Adjust the map height */
  z-index: 10;
  margin-top: 4rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}


.map-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #333;
  border-radius: 50%;
  font-size: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
