.discussions-list {
  display: grid;
  gap: 1.25rem;
  justify-items: center;
  padding: 1rem 10rem;
}

.discussion-card {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
}

.discussion-card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.discussion-card h3 a {
  text-decoration: none; // Removes underline from discussion titles
}

.discussion-card p {
  font-size: 1rem;
  color: #555;
}

// Center the New Discussion button and apply button styling
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-primary {
  font-family: $button-font;
  font-weight: 700;
  font-size: 16px;
  background-color: $ocean-turquoise;
  color: $button-text-color;
  padding: $button-padding;
  border: none;
  border-radius: $button-border-radius;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; // Remove underline

  // Hover effect
  &:hover {
    background-color: $forest-green;
  }
}
