$nav-width: 100px;

.grid-show-background {
  background-color: $coral-white;
}
.show-content-container {
  width: 100%;
}
.show-section-card:first-of-type {
  border-radius: 0 0 10px 10px;
  padding: 0;
}
.show-section-card {
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  margin: 0 calc( #{$nav-width} + 4rem ) 6rem 2rem;
  overflow: hidden;
  padding: 2rem;
}
.section-title {
  padding: 1rem 0;
  min-width: 0;
  min-height: 0;
  width: 100%;
  h2 {
    text-align: center;
    padding: 0;
  }
}
.grid-show-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2rem;
  justify-items: stretch;
  justify-content: center;
  .card-report-teaser, .card-basic {
    margin: 0;
  }
  .container-forum {
    padding: 0;
    .discussion-card {
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }
}
.container-evaluations {
  padding-left: 2rem;
  margin-bottom: 2rem;
}
.flex-show-container {
  display: flex;
  justify-content: center;
}
.container-articles {
  max-width: 80%;
  margin-bottom: 2rem;
}
@media (max-width: 1280px) {
  .show-section-card {
    margin: 0 2rem 6rem 2rem;
  }
  .show-nav-container {
    display: none;
  }
  .container-evaluations {
    padding-left: 0rem;
  }
}
@media (max-width: 768px) {
  .show-section-card {
    margin: 0 1rem 6rem 1rem;
    padding: 0.25rem;
  }
  .grid-show-container {
    grid-template-columns: 1fr;
  }
  .container-articles {
  max-width: 100%;
  }
}


.description-subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 25%;
    aspect-ratio: 1/1;
    margin-top: 2rem;
  }
  h4 {
    margin: 4rem auto;
    text-align: center;
    width: 100%;
  }
  p {
    padding: 0 2rem;
  }
}
.show-container{
  display: flex;
}
.show-nav-container {
  width: $nav-width;
  margin-left: 2rem;
  margin-right: 1.25rem;
}
.show-heading {
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 4rem;
  h6 {
    margin-top: 4rem;
    margin-bottom: 0;
    padding-right: 2rem;
  }
}
.show-intro {

}
.dropshadow-nav {
  box-shadow: $default-box-shadow;
  width: 100%;
  height: 10px;
  margin-bottom: -10px;
}
.carousel-detailed-graph {
  padding: 4rem 0 2rem 0;
  margin-left: -1.5rem;
  width: calc(100% + 1rem);
  h6,p {
    padding: 0 2rem 0 3.5rem;
    text-align: center;
  }
}
