// app/assets/stylesheets/hero_section.scss

@import 'config/colors';
@import 'config/fonts';

.hero-section {
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $coral-white;
  color: $dark-ocean-blue;

  .hero-content {
    background-color: $coral-white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 600px;

    .hero-title {
      font-family: $headers-font;
      font-weight: 800;
      font-size: 48px;
      color: #0B666A;
    }

    .hero-description {
      font-family: $body-font;
      font-size: 18px;
      color: #0B666A;
      margin: 1rem 0;
    }
  }
}
