// app/assets/stylesheets/hero_section.scss

@import 'config/colors';
@import 'config/fonts';

.hero-section {
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $coral-white;
  color: $dark-ocean-blue;

  .hero-content {
    background-color: $coral-white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 600px;

    .hero-title {
      font-family: $headers-font;
      font-weight: 800;
      font-size: 48px;
      color: #0B666A;
    }

    .hero-description {
      font-family: $body-font;
      font-size: 18px;
      color: #0B666A;
      margin: 5rem 0;
    }
  }
}

.categories {
  background-color: $white;

  h2 {
    font-family: $headers-font;
    font-weight: 800;
    font-size: 2rem;
    color: #0B666A;
    margin: 0rem 11.5rem;
    padding: 5rem 0rem 2rem 0rem;
  }

  .category-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 columns layout
    gap: 5rem;
    justify-items: center;
    align-items: start;
    margin: 0 10rem;

    &:hover {
      color: #35A28C;
    }
  }
}
