@import 'config/colors';
@import 'config/fonts';

.hero-section {
  height: 49rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: asset-url('hero_background.jpg') no-repeat center center;
  background-size: cover; // Ensures the image covers the section
  color: $dark-ocean-blue;

  .hero-content {
    padding: 2rem;
    border-radius: 10px;
    max-width: 1500px;
    margin-bottom: 15rem;

    .hero-title {
      max-width: 600px;
      color: $ocean-turquoise;
      font-family: $headers-font;
      font-size: 3rem
    }

    .hero-description {
      font-family: $body-font;
      font-size: 2.75rem;
      color: $ocean-turquoise;
      margin-bottom: 0.75rem;
    }

    .hero-button {
      color: #0B666A;
      border: 0px solid #0B666A;
      background-color: white;
      border-radius: 1rem;
      text-decoration: none;
      font-weight: bold;
      width: 40rem;
      padding: 0.5rem;
      font-size: 1.75rem;
      margin-top: 2rem;

      &:hover {
        background-color: $light-gray;
      }
    }
  }
}

.usp-section {
  padding: 6rem 2rem; // Top and bottom padding
  background-color: white; // Same as the Categories background
  color: $dark-ocean-blue; // Consistent text color
  text-align: center;

  .usp-title {
    font-family: $headers-font;
    font-size: 2.5rem; // Same as the Categories title
    margin-bottom: 3rem;
    color: $ocean-turquoise; // Highlighted header color
  }

  .usp-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 cards in a row
    gap: 2rem; // Spacing between cards
    max-width: 1200px;
    margin: 0 auto;

    .usp-card {
      background-color: rgba(255, 250, 245, 0.5);
      padding: 2rem;
      border-radius: 10px; // Rounded corners for consistency
      box-shadow: 0 4px 6px rgba(0.1, 0.1, 0.1, 0.1); // Subtle shadow for depth
      text-align: center;

      .usp-icon {
        width: 50px; // Adjust width as needed
        height: auto; // Maintain aspect ratio
        margin-bottom: 1rem;
        color: $forest-green; // Icon color
      }

      .usp-title {
        font-family: $headers-font;
        font-size: 1.5rem;
        font-weight: 700;
        color: $ocean-turquoise;
        margin-bottom: 0.75rem;
      }

      .usp-description {
        font-family: $body-font;
        font-size: 1.25rem;
        color: $dark-ocean-blue-700; // Slightly muted for readability
      }
    }
  }
}

.categories {
  background-color: $coral-white;
  padding: 4rem 0rem 6rem 0rem;

  h2 {
    font-family: $headers-font;
    font-size: 2.75rem;
    color: #0B666A;
    margin: 0rem 13.5rem;
    padding: 0rem 0rem 4rem 0rem;
  }

  .category-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: start;
    margin: 0 13.5rem;

    .no-underline-link {
      text-decoration: none;
    }

    &:hover {
      color: #35A28C;
    }

  }
}
