.map-container {
  position: sticky;
  border-radius: 10px;
  top:  13.3rem;  /* Adjust this based on your banner height */
  height: 38rem;  /* Adjust the map height */
  z-index: 10;
  margin-top: 4rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.map-container-project-show {
  position: sticky;
  border-radius: 10px;
  top:  4.3rem;  /* Adjust this based on your banner height */
  height: 38rem;  /* Adjust the map height */
  z-index: 10;
  margin-top: 2.9rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-popup {
  border-radius: 10px;
  padding: 10px;
  background-color: transparent;
}

.mapboxgl-popup-content {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.charity-project-info {
  padding: 15px;
  border-radius: 10px;
}
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content a {
  outline: none; /* Removes the outline around the link when focused */
  border: none;  /* Removes any border around the link */
}

.map-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #333;
  border-radius: 50%;
  font-size: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


@media (max-width: 1024px) { /* For tablets and smaller devices */
  .map-container, .map-container-project-show {
    height: 25rem; /* Reduce height for medium screens */
    top: 10rem; /* Adjust sticky position if needed */
    margin-top: 3rem;
  }
}

@media (max-width: 768px) { /* For mobile devices */
  .map-container, .map-container-project-show {
    height: 18rem; /* Further reduce height for smaller screens */
    top: 8rem; /* Adjust sticky position for smaller devices */
    margin-top: 2rem;
  }
}

@media (max-width: 480px) { /* For very small devices */
  .map-container, .map-container-project-show {
    height: 15rem; /* Compact height for small screens */
    top: 5rem; /* Adjust sticky position */
    margin-top: 2rem;
  }
}
