.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; // Add padding for left and right spacing
  background-color: $white;

  .navbar-left {
    flex: 1; // Allow this section to take up space on the left side
    .search-bar {
      input[type="text"] {
        padding: 0.5rem;
        border: 1px solid $light-gray;
        border-radius: 0.5rem;
      }
    }
  }

  .navbar-center {
    display: flex;
    align-items: center;
    gap: 7.5rem; // Adds spacing between the logo and text links

    .nav-link {
      color: #0B666A;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: #35A28C;
      }
    }

    .brand {
      width: 150px;
      height: auto;
    }
  }

  .navbar-right {
    flex: 1; // Allow this section to take up space on the right side
    display: flex;
    justify-content: flex-end; // Align items to the right

    .button {
      padding: 0.5rem 1rem;
      margin-left: 1rem;
      border-radius: 0.5rem;
      text-decoration: none;
      font-weight: bold;

      &.login {
        color: $ocean-turquoise;
        border: 1px solid $ocean-turquoise;
        background-color: transparent;
      }

      &.signup {
        color: $coral-white;
        background-color: #0B666A;
        border: none;
      }
    }
  }
}
