
.project-card {
  flex: 1;
  width: 100%;
  background-color: white;
  margin: 1rem 0;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: auto;
}

.project-photo {
  width: 30%; /* Adjusted for responsive design */
  overflow: hidden;
  margin: 0;
}

.project-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.project-details {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.progress-and-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto; /* Pushes this section to the bottom of .project-details */
}

.progress-info-and-bar {
  flex: 1;
}

.progress-bar {
  background-color: #97FEED;
}

// .donate-button .btn {
//   width: 100%;
//   height: 2.5rem; /* Set fixed height */
//   text-align: center;
//   border-radius: 10px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 0; /* Remove padding to simplify alignment */
//   line-height: 2.5rem; /* Match line-height to height */
// }
.donate-button .btn {
  font-family: $button-font; // Use Geologica font
  width: 100%;
  font-weight: 700; // Bold weight
  font-size: 16px; // Font size
  background-color: $ocean-turquoise; // Background color using variable
  color: $button-text-color; // Text color
  padding: $button-padding; // Padding
  border: none; // No border
  border-radius: $button-border-radius; // Rounded corners
  cursor: pointer; // Pointer on hover
  transition: background-color 0.3s ease; // Smooth transition for hover effect

  // Hover effect
  &:hover {
    background-color: $forest-green; // Use dark ocean blue on hover
  }
}
/* Media query for project cards */
@media (max-width: 768px) {
  .project-card {
    flex-direction: column; /* Stack photo and details vertically */
  }

  .project-photo {
    width: 100%; /* Full width for photo */
  }

  .project-details {
    padding: 1rem; /* Adjust padding for smaller screens */
  }
}
