<%# needs a report object as an argument %>
<div class="report card-report-teaser" <%= "class='report-evaluation'" if report.report_type == "evaluation"  %>>
  <%= render "report_content_essentials", report: report %>
</div>
